<div id="selectDiv">
    <select id="projectDropdown" class="custom-select" [(ngModel)]="selectedValue" (ngModelChange)="updateProject()">
        <option *ngFor="let element of projectList">
            {{element.name}}
        </option>
    </select>
</div>

<div id="table" class="container-fluid">
    <div id="tableHeader">
        <p id="tableHeaderText">QUANTITY SURVEY</p>
    </div>
    <table>
        <div class="row">
            <!--"NAME" and "COST_CODE" are required-->
            <div class="col tableTab">NAME</div>
            <div class="col tableTab">COST_CODE</div>
            <div class="col tableTab" *ngFor="let name of additionalColumnNames">
                {{name}}
            </div>
        </div>
        <div class="row" *ngFor="let element of dataSource">
            <!--"name" and "costCode" will always exist-->
            <div class="col tableElement" contenteditable="true" (input)="element.name=$event.target.textContent" (focus)="editData($event)" (blur)="cleanData($event)">
                {{element.name}}
            </div>
            <div class="col tableElement" contenteditable="true" (input)="element.costCode=$event.target.textContent" (focus)="editData($event)" (blur)="cleanIntData($event)">
                {{element.costCode}}
            </div>
            <div class="col tableElement" contenteditable="true" *ngFor="let addData of element.addData; let i = index" (input)="element.addData[i]=$event.target.textContent" (focus)="editData($event)" (blur)="cleanData($event)">
                {{addData}}
            </div>
        </div>
    </table>
</div>

<div id="bottomBar" class="container-fluid">
    <div id="quantitySurveyLink">
        <a routerLink="/template">Edit Quantity Survey Template</a>
    </div>
    <button type="button" class="btn" id="dataSubmit" (click)="updateFormulaData()">
        <img src="../../../assets/img/checkmark.svg" id="submitCheck">Submit
    </button>
</div>
