* {
margin: 0;
padding: 0;
}

body {
  background-color: black;
  color: white;
  width: 370px;
  line-height: 1.8;
  text-align: left;
  text-indent: 40px;
  font-size: 25px;
  font-style: bold;
  font-weight: lighter;
  border-right:2px solid black;
}

/* Unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* Visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* Mouse over link */
a:hover {
  color: gray;
  text-decoration: none;
}

/* Selected link */
a:active {
  color: #F26720;
  text-decoration: none;
}
