<body>
  <div class="row">

    <div class="columnHeader">
      <img src="./assets/img/header_icon.png" height=84px>
    </div>

    <div class="columnProject">
      <h2 *ngIf="project">{{project.projectName}}</h2>
    </div>

    <div class="columnUser">
      <button class="userButton" (click)="openUserDialog()"><img src="./assets/img/user_icon.png" height=40px></button>
    </div>

    <div class="columnTitle">
      <h3 *ngIf="user">{{user.title}}</h3>
    </div>

    <div class="columnQuestion">
      <button class="questionButton" (click)="openQuestionDialog()"><img src="./assets/img/question_icon.png" height=40px></button>
    </div>

  </div>
</body>
