.resource {
    width: 50%;
    float: left;
    padding: 10px;
}

.project {
    width: 50%;
    float: left;
    padding: 10px;
}



.resource, .project{
    overflow: auto;
}

#submit {
    height: 30px;
    position: relative;
    background-color: orangered;
    color: white;
    border: none;
    float: right;
    right: 50px;
}

#submit_word {
    margin: 5px 5px;
}

.main {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.tables {
    width: 100%;
    position: relative;
    display: table;
    padding: 10px;
}

.project_dropdown {
    text-align: right;
    margin: 20px;
    right: 30px;
}

.toResource {
    left: 40px;
}
