<div class="main">
    <div class="project_dropdown">
        <app-project-selector></app-project-selector>
    </div>
    <div class="tables">
        <div class="resource">
            <app-project-resource ></app-project-resource>
        </div>

          <div class="project">
              <app-project-project ></app-project-project>
          </div>
    </div>
    <div class="foot">
        <button mat-button class = "toResource" [ngStyle]="{'color':'blue'}">Edit Resource</button>
        <button id="submit" (click) = "submit()">
            <mat-icon class="tick" svgIcon="tick" [ngStyle]="{'color':'white','height':'60%', 'position':'relative','right':'2px'}"></mat-icon>
            <span id="submit_word">Submit</span>
        </button>
    </div>
</div>
