<div class="container">
    <table class="table">
      <thead>
        <tr class="row" id="tableHeaderTools">
          <div class="col" style="display: flex;">
            <input type="text" placeholder="Keyword" #keySearch>
            <button id="searchBtn" (click) = "filterSearch(keySearch)"><img style="color: white;
              height:10px; width: 10px; filter: brightness(0) invert(1);"
              src="assets/img/magnifying-glass.svg" alt="+"></button>
          </div>
          <div class="col text-center">
            Resource Catalog
          </div>
          <div class="col text-right">
            <div ngbDropdown class="d-inline-block">
              <button id="plusBtn" ngbDropdownToggle>
                <img style="color: white;
                height:10px; width: 10px; filter: brightness(0) invert(1);"
                src="assets/img/plus-sign.svg" alt="+">
              </button>

              <div ngbDropdownMenu aria-labelledby="plusBtn" id="dropdown-menu">
                <button ngbDropdownItem (click)="setAddRow(true)">
                  <div class="row">
                      <div class="col-4">
                          <img src="assets/img/row.svg"
                          alt="csv-format-img">
                      </div>
                      <div class="col-8">
                        Add Row
                      </div>
                  </div>
                </button>
                <button ngbDropdownItem (click)="openColumnModal(columnForm)">
                  <div class="row">
                    <div class="col-4">
                      <img src="assets/img/columns.svg"
                      alt="add-column-img">
                    </div>
                    <div class="col-8">
                      Add Column
                    </div>
                  </div>
                </button>
                <button ngbDropdownItem>
                    <div class="row">
                      <div class="col-4">
                          <img src="assets/img/excel.svg"
                          alt="csv-format-img">
                      </div>
                      <div class="col-8">
                        Import CSV
                      </div>
                    </div>
                </button>
              </div>
            </div>
          </div>
        </tr>

        <tr class="row" id="tableHeader" style="border: 1px solid lightgrey; height: 30px">
          <th class="col text-center" scope="col"
          style="border-right: 1px solid lightgrey;
          font-weight: 400; height: 100%;
          font-size: 12px;padding: 4px">RESOURCE NAME</th>
          <th class="col text-center" scope="col"
          style="font-weight: 400; height: 100%;
          font-size: 12px; padding: 4px">RESOURCE CODE</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let t of search" class="row">
          <td class="col">{{t.name}}</td>
          <td class="col">{{t.code}}</td>
        </tr>

        <tr *ngIf="addingRow" class="row">

          <td class="col">
            <input type="text" style="width: 100%" name="resourceName" #resourceNameInput>
          </td>
          <td class="col">
            <div class="row" style="display: flex; width: 100%">
                <button (click)="addRow(resourceNameInput,resourceCodeInput)" id="checkmark-btn" class="col-1">
                  <img src="assets/img/checkmark.svg" alt="y">
                </button>
                <button (click)="setAddRow(false)" id="cancel-btn" class="col-1">
                    <img src="assets/img/cancel.svg" alt="n">
                </button>
                <input class="col-10" type="text" style="width: 100%" name="resourceCode" #resourceCodeInput>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #columnForm let-modal>
      <div class="modal-header">
        <h6 class="modal-title" id="modal-basic-title">Add New Column</h6>
        <button id="closeModalBtn" (click)="modal.dismiss('Cross click')">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form style="width: 100%">
          <div class="form-group">
              <label for="colName">Column Name:</label>
              <input id="colName" type="text">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="modal.close('Add click')">Add</button>
        <button type="button" (click)="modal.close('Cancel click')">Cancel</button>
      </div>
    </ng-template>
    <pre>{{closeResult}}</pre>
</div>
