.title {
    background-color: gray;
    margin:0;
    text-align: center;
}

.title_row {
    height: 50px;
    margin: auto;
}

.table_row {
    line-height: 35px;
    border: none;
}

table {
    width: 100%;
}

.table_header {
    background-color: #d3d3d3;
    line-height:35px;
    border: #bdbdbd 0.5px;
}

table thead { 
    display:block;
}

.title_text {
    position: relative;
    top: 10px;
}


.icon {
    position: relative;
    top: 5px;
    right: 5px;
    float: right;
    height: 25px;
    width: 25px;
    background-color: orangered;
    border: none;
    outline: none;
    margin: 5px;
}

.project {
    width: 100%;
    height: 600px;
    border: solid 0.5px #bdbdbd;
}

th {
    text-align: center;
    border: solid #bdbdbd 0.5px;
}

.dropdown {
    display: inline-block;
    float: right;
    z-index: 5;
}

#import {
    z-index: 10;
}

.main-table {
    width: 100%;
}

.selectAll {
    color: gray;
}

input[type="checkbox"] + label::before {
    content: "\a0"; 
    display: inline-block;
    vertical-align: .2em;
    width: .8em;
    height: .8em;
    margin-right: .2em;
    border-radius: .2em;
    background-color: white;
    border: solid gray 0.05px;
    text-indent: .15em;
    line-height: .65; 
}

input[type="checkbox"]:checked + label::before {
    content: "\2713";
    color: white;
    background-color: orangered;
}

input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.main-table thead {
    display: block;
    position: relative;
    width: 100%;
}

.main-table tbody {
    display: block;
    position: relative;
    width: 100%;
    overflow-y: scroll;
    height: 500px;
}

.main-table tr {
    width: 100%;
    display: flex;
}

.main-table td, .main-table th {
    flex-basis: 100%;
    flex-grow: 2;
    display: block;

}