<div class="project">
<table class=" title">
    <th class="title_row">
        <span class="title_text">Resource Catalog</span>

    <button class="icon" id="import" (click)='import()'>    
        <mat-icon class="import_icon" svgIcon="import" [ngStyle]="{'color':'white','height':'60%', 'position':'relative','right':'7px'}"></mat-icon>
    </button>
    <div ngbDropdown class="dropdown">
        <button class="icon" ngbDropdownToggle>    
            <mat-icon class="import_icon" svgIcon="list" [ngStyle]="{'color':'white','height':'60%', 'position':'relative','right':'7px'}"></mat-icon>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="selectAll()">
                <span class="check_icon">
                    <mat-icon svgIcon="check" [ngStyle]="{'color':'gray', 'position':'relative','right':'7px'}"></mat-icon>
                </span>
                <span class="selectAll">Select All</span>
            </button>
            <button ngbDropdownItem (click)="clearAll()">

                <span class="check_icon">
                    <mat-icon svgIcon="uncheck" [ngStyle]="{'color':'gray', 'position':'relative','right':'7px'}"></mat-icon>
                </span>
                <span class="selectAll">Clear Selection</span>
            </button>
          </div>
    </div>
    </th>
</table>

<table class=" main-table">
    <thead class="table_head"> 
    <tr class = "table_header">
        <th *ngFor="let field of fields | slice: 1">{{field}}</th>
    </tr>
    </thead>
    <tbody class="table_body">
    <tr class = "table_row" *ngFor="let resource of resources; index as i">
        <td *ngFor="let field of fields | slice: 1; index as id">
            <input type="checkbox" [id]="i" *ngIf="id==0" [checked]="resource.checked" (change)='checkboxChange(i)'>
            <label for={{i}}></label>
            {{resource[field]}}
        </td>
    </tr>
    </tbody>
</table>
</div>
