<header>
  <div>
    <app-header></app-header>
  </div>
</header>

<mat-sidenav-container [autosize]="false">
    <mat-sidenav mode="side" align="start" opened #sidenav>
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <button class="sidebarButton" (click)="sidenav.toggle()">
        <img src="../assets/sidebar_icon_open.png" height=40px>
      </button>

      <!-- <app-login></app-login> -->

      <app-signup></app-signup>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-signup></app-signup> -->
