<body>
  <div class="row">

    <div class="columnHeader">
      <img src="./assets/header_icon.png" height=60px>
    </div>

    <div class="columnProject">
      <!-- TODO: CHANGE TO ACTUAL VALUE: {{project}} -->
      <h2>Project 1</h2>
    </div>

    <div class="columnUser">
      <button class="userButton"><img src="./assets/user_icon.png" height=40px></button>
    </div>

    <div class="columnTitle">
      <!-- TODO: CHANGE TO ACTUAL VALUE: {{title}} -->
      <h3>Cost Manager</h3>
    </div>

    <div class="columnQuestion">
      <!-- TODO: ADD LINK TO THE BUTTON -->
      <a href="#"><img src="./assets/question_icon.png" height=40px></a>
    </div>

  </div>
</body>
