<body>
  <div class="row">

    <div class="columnLogo">
      <img src="../assets/header_icon.png" height=80px>
    </div>

    <div class="columnProject">
      <!-- TODO: CHANGE TO ACTUAL VARIABLE -->
      <h2>Project 1</h2>
    </div>

    <div class="columnUser">
      <!-- TODO: ADD LINK TO THE BUTTON -->
      <a href=" "><img src="../assets/user_icon.png" height=50px></a>
    </div>

    <div class="columnTitle">
      <!-- TODO: CHANGE TO ACTUAL VARIABLE -->
      <h3>Cost Manager</h3>
    </div>

    <div class="columnQuestion">
      <!-- TODO: ADD LINK TO THE BUTTON -->
      <a href=" "><img src="../assets/question_icon.png" height=50px></a>
    </div>

  </div>
</body>
