<div class="project">
    <table class="table table-striped title">
        <th>
            <span>Project</span>
    
        <button class="icon" id="import" (click)='delete()'>    
            <mat-icon class="import_icon" svgIcon="trash" [ngStyle]="{'color':'white','height':'70%', 'position':'relative','right':'7px'}"></mat-icon>
        </button>
        </th>
    </table>
    
    <table class="table table-striped main-table">
        <tr class = "table_header">
            <th *ngFor="let field of fields | slice: 1">{{field}}</th>
        </tr>
        <tr class = "table_row" *ngFor="let resource of resources; index as i">
            <td *ngFor="let field of fields | slice: 1; index as id">
                <input type="checkbox" *ngIf="id==0" [checked]="resource.checked" (change)='checkboxChange(i)'>
                <!-- <mat-checkbox *ngIf="id==0" [checked]="resource.checked" (change)='checkboxChange(i)' [ngStyle]="{'color':blue}"></mat-checkbox> -->
                {{resource[field]}}
            </td>
        </tr>
    </table>
    </div>
    